# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\School\Github repository University\FCLD-LAB\Formal-Languages-Compiler-Design-LAB\lab5-LL(1) first lab\parser project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
